<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burti</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-200 w-screen h-screen">
<section class="relative mx-auto w-fit">
    <nav class="flex justify-between bg-cyan-800 text-white w-screen">
        <div class="px-5 xl:px-12 py-2 flex w-full items-center">
            <div class="flex items-center space-x-36">
                <a class="text-3xl font-bold font-heading" href="/">
                    <img alt="Burti" id="logo" class="lazyloaded w-26 h-16"
                         src="https://burti.lv/wp-content/uploads/2022/10/Burti_LOGO_pamata-1.png">
                </a>
            </div>
        </div>
    </nav>
</section>
<div class="flex justify-center mt-10">
    <div class="w-1/3">
        <label for="items" class="block mb-1 text-md font-medium text-gray-900 dark:text-white">Select a product</label>
        <select id="items"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="" selected disabled>Choose a product</option>
            {% for item in items %}
                <option value="{{ item.code }}">{{ item.description }}</option>
            {% endfor %}
        </select>
        <div id="varieties-dropdowns"></div>
        <label class="block mb-1 mt-4 text-md font-medium text-gray-900 dark:text-white">Generated Code:</label>
        <p id="code-display" class="p-2 text-lg font-semibold"></p>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Iegūt info no izvēlētajiem produktiem
        const productSelect = document.getElementById("items");
        const varietiesDropdowns = document.getElementById("varieties-dropdowns");
        const codeDisplay = document.getElementById("code-display");

        // Koda mainīgais, kur tiek glabāts kods
        let code = "";

        // Piefiksē izmaiņas produkta izvēlē
        productSelect.addEventListener("change", () => {
            // Attīrīt kodu pie izmaiņām
            codeDisplay.textContent = '';

            // Iztīrīt varieties pie produkta izmaiņas
            varietiesDropdowns.innerHTML = '';

            // Piefiksēt izvēlētā produkta kodu
            const selectedProductCode = String(productSelect.value);
            code = selectedProductCode;

            const selectedProduct = {{ jsonItems | raw }}.
            find(product => product.code === selectedProductCode);

            if (selectedProduct && selectedProduct.varieties.length > 0) {
                selectedProduct.varieties.forEach(variety => {
                    const varietyDropdown = document.createElement("select");
                    varietyDropdown.classList.add(
                        "bg-gray-50",
                        "border",
                        "border-gray-300",
                        "text-gray-900",
                        "text-sm",
                        "rounded-lg",
                        "focus:ring-blue-500",
                        "focus:border-blue-500",
                        "block",
                        "w-full",
                        "p-2.5",
                        "mt-2"
                    );

                    varietyDropdown.innerHTML = `<option value="${variety.code}" selected disabled>${variety.description}</option>`;

                    // Izveidot varieties opcijas
                    variety.options.forEach(option => {
                        const optionOption = document.createElement("option");
                        optionOption.value = option.code;
                        optionOption.textContent = option.description;
                        varietyDropdown.appendChild(optionOption);
                    });

                    // EventListener, lai izmainītu kodu atkarībā pēc izvēlētajām varieties opcijām
                    varietyDropdown.addEventListener("change", () => {
                        const selectedVarietyCode = varietyDropdown.value;
                        if (selectedVarietyCode) {
                            code += "." + selectedVarietyCode;
                        }
                        codeDisplay.textContent = code;
                    });

                    varietiesDropdowns.appendChild(varietyDropdown);
                });
            } else {
                // Ja produktam nav varieties, tad attēlot produkta kodu
                codeDisplay.textContent = code;
            }
        });
    });
</script>
</body>
</html>
